<br>
<br>

<mat-progress-spinner style=" margin:250px 45vw; position:absolute; z-index:2500" *ngIf="loading==true" mode="indeterminate"></mat-progress-spinner>


  <div *ngIf="submit==false" fxLayout="column"  fxLayoutAlign="space-around center">
    <mat-card fxLayout="column"  >
    <div style="background-color: #8895e0; border-radius: 10px; width: 28vw;" fxLayout="column"  fxLayoutAlign="end center">
      <h2 style="color: black;">Selenium Testing</h2>
      </div>
      <br><br>
    <form fxLayout="column" fxLayoutGap="20px" fxFlex="80">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" >
      <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
        Please enter atleast 8 characters
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field (click)="selectionChange()"  appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select >
          <mat-option  *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </div>
  
    <div fxLayout="row" fxLayoutGap="15px">
      <label  style="font-family:Arial, Helvetica, sans-serif; color: rgb(39, 39, 39); font-size: 18px;">Pick your nationality:</label>
      <mat-radio-group 
       color="primary" fxLayout="row" fxLayoutGap="15px" 
      aria-label="Select an option">
        <mat-radio-button value="1">Indian</mat-radio-button>
        <mat-radio-button value="2">Other</mat-radio-button>
      </mat-radio-group>
    </div>
    
    <button mat-raised-button color="primary" [disabled]="emailFormControl.invalid || passwordFormControl.invalid" (click)="onSubmit()">Submit</button>
  
  
    
  
  
  </form>
</mat-card>
  </div>
  


<div fxLayout="column"  fxLayoutAlign="space-around center">
<mat-card *ngIf="submit==true" 
style="z-index: 100;  margin: 40px 0;  height: 200px; width: 350px;">
<div fxLayout="column" fxLayoutGap="30px">
  <div >
    <button style="cursor:pointer;margin-left: 0;" mat-icon-button (click)="onBack()"  ><mat-icon >west</mat-icon></button>  
  </div>
  <div  fxLayout="column" fxLayoutAlign="space-around center">
    <p>Submitted</p>  
  </div>

</div>
</mat-card>
</div>
